.country{
    stroke: white;
    stroke-width: .5px;
}

.country:hover{
    /*fill: red;*/
    stroke: #8FBC8F;
    stroke-width: 3px;
}

.tooltip{
    width: 100px;
    height: 70px;
    text-align: center;
    position: absolute;
    background-color: #ADD8E6;
    color: #000;
    font: 14px sans-serif;
    padding: 8px;
    pointer-events: none;
}

.description{
    position: absolute;
    left: 10px;
    bottom: 120px;
    width: 100px;
    height: 205px;
}
